{% extends 'backend/back.html.twig' %}

{% block title %}Liste des films{% endblock %}

{% block nav_admin %}active{% endblock %}
{% block subnav_movie %}active{% endblock %}

{% block body %}

    <div class="row position-relative">
        <h1 class="col-12">Admin films</h1>

        <a href="{{ path('backend_movie_add') }}" class="btn btn-primary position-absolute mb-3" style="right:0">Ajouter un film</a>

        {# Flash messagges #}
        {{ include('backend/fragments/_flash.html.twig') }}

        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for movie in movies %}
                    <tr>
                        <th scope="row">{{ movie.id }}</th>
                        <td><a href="{{ path('backend_movie_show', {id: movie.id}) }}">{{ movie.title }}</a></td>
                        <td class="text-center"><a href="{{ path('backend_movie_edit', {id: movie.id}) }}" class="btn btn-info">Modifier</a></td>
                        <td>
                            <form class="text-center" action="{{path('backend_movie_delete', {id: movie.id})}}" method="POST" onsubmit="return confirm('Supprimer le film {{ movie.title|escape('js') }} ?')">
                                <input type="hidden" name="_method" value="DELETE"/>
                                <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}"/>
                                <button type="submit" class="btn btn-danger">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}